ion-content{
    --background:#fff url('../../assets/background.jpg') no-repeat center center / cover;
}
ion-toolbar{
    --background:#CACC90;
  }
  ion-card{
    --background:#CACCA5;
    --color:#383a3e;
    text-align: center;
  }
ion-img.logo{
    max-width: 40px;
    align-items: center;
}