<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Introduction
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
          <ion-card-title>ROYAL NAILS AND WAXING</ion-card-title>
        </ion-card-header>
        <ion-card-content>Located: Shop2/ 471 Marrickville Road, Dulwich Hill NSW 2203</ion-card-content>
        <ion-card-content>Phone: 02 9518 3551</ion-card-content>
        <ion-card-content>Email: royalnailsandwaxing@gmail.com</ion-card-content>
        <ion-card-content>TRADING HOURS</ion-card-content>
        <ion-card-content>Mon-Fri: 9am-6pm</ion-card-content>
        <ion-card-content>Thur: 9am-8pm</ion-card-content>
        <ion-card-content>Sat: 9am-6pm</ion-card-content>
        <ion-card-content>Sun/Public holiday: 10am-4pm</ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
            <ion-card-title>Staff Member</ion-card-title>
          </ion-card-header>
          <ion-card-content>Leader - Manager: Lily </ion-card-content>
          <ion-card-content>Staff:</ion-card-content>
          <ion-card-content>             Wendy:  Nails - Professional Waxing            </ion-card-content>
          <ion-card-content>Yvon:   Professional Nails </ion-card-content>
          <ion-card-content>Hieuy:  Professional Nails </ion-card-content>
          <ion-card-content>Huongy: Professional Nails - Waxing </ion-card-content>
          <ion-card-content>Lien:   Nails  </ion-card-content>
          <ion-card-content>Tracy:  Nails  </ion-card-content>
          <ion-card-content>Anna:   Nails  </ion-card-content>
          <ion-card-content>Linda:  Nails  </ion-card-content>
          <ion-card-content>Tammy:  Nails  </ion-card-content>
        </ion-card>
</ion-content>
