<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Introduction
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-card>
              <ion-card-header>
                <ion-card-title>ROYAL NAILS AND WAXING</ion-card-title>
              </ion-card-header>
              <ion-card-content>Located: Shop2/ 471 Marrickville Road, Dulwich Hill NSW 2203</ion-card-content>
              <ion-card-content>Phone: 02 9518 3551</ion-card-content>
              <ion-card-content>Email: royalnailsandwaxing@gmail.com</ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                  <ion-card-title>ROYAL NAILS AND WAXING</ion-card-title>
                </ion-card-header>
                <ion-card-content>Located: Shop2/ 471 Marrickville Road, Dulwich Hill NSW 2203</ion-card-content>
                <ion-card-content>Phone: 02 9518 3551</ion-card-content>
                <ion-card-content>Email: royalnailsandwaxing@gmail.com</ion-card-content>
              </ion-card>
        </ion-row>
      </ion-grid>

</ion-content>
