ion-content{
    --background:#fff url('../../assets/background.jpg') no-repeat center center / cover;
}
ion-toolbar{
    --background:#CACC90;
  }
ion-fab-button{
    --background:#75704E;
}
ion-card{
    --background:#CACCA5;
    --color:#383a3e;
}