ion-content{
    --background:#fff url('../../assets/background.jpg') no-repeat center center / cover;
}
ion-toolbar{
    --background:#CACC90;
  }
  ion-card{
    --color:#383a3e;
    text-align: center;
  }