<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Price List
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
      <ion-card>
          <ion-card-header>
            <ion-card-title>Nails Service</ion-card-title>
          </ion-card-header>
          <ion-card-content>Hand</ion-card-content>
          <ion-card-content>Manicure..............................20</ion-card-content>
          <ion-card-content>French Manicure.......................25</ion-card-content>
          <ion-card-content>Feet</ion-card-content>
          <ion-card-content>Spa Pedicure..........................30</ion-card-content>
          <ion-card-content>French Spa Pedicure...................35</ion-card-content>
          <ion-card-content>Buff, Shape, Polish...................12</ion-card-content>
          <ion-card-content>Buff, Buff, Shape, Polish.............15</ion-card-content>
          <ion-card-content>Buff, Shape, Gel Polish...............25</ion-card-content>
          <ion-card-content>Buff, Buff, Shape, Gel Polish.........30</ion-card-content>
          <ion-card-content>Manicure and Pedicure Normal Polish...45</ion-card-content>
          <ion-card-content>Manicure and Pedicure Gel Polish......70</ion-card-content>
          <ion-card-content>Acrylic Nails</ion-card-content>
          <ion-card-content>Full set (clear tips).................40</ion-card-content>
          <ion-card-content>Full set (white tips).................45</ion-card-content>
          <ion-card-content>Overlay...............................35</ion-card-content>
          <ion-card-content>Full set (white powder)...............60</ion-card-content>
          <ion-card-content>Full set acrylic toe nails............50</ion-card-content>
          <ion-card-content>Gel</ion-card-content>
          <ion-card-content>French full set.......................50</ion-card-content>
          <ion-card-content>Clear full set........................45</ion-card-content>
          <ion-card-content>Overlay...............................40</ion-card-content>
          <ion-card-content>Infill</ion-card-content>
          <ion-card-content>Acrylic infill........................27</ion-card-content>
          <ion-card-content>Permanent infill......................40</ion-card-content>
          <ion-card-content>Gel infill............................30</ion-card-content>
          <ion-card-content>Toe nails infill......................40</ion-card-content>
          <ion-card-content>Sns</ion-card-content>
          <ion-card-content>Full set sns..........................60</ion-card-content>
          <ion-card-content>Real nails sns........................40</ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
            <ion-card-title>Waxing Service</ion-card-title>
          </ion-card-header>
          <ion-card-content>Ladies</ion-card-content>
          <ion-card-content>Eyebrow...............................12</ion-card-content>
          <ion-card-content>Lip....................................8</ion-card-content>
          <ion-card-content>Chin..................................10</ion-card-content>
          <ion-card-content>Underarm..............................10</ion-card-content>
          <ion-card-content>Bikini line...........................15</ion-card-content>
          <ion-card-content>Stomach line..........................10</ion-card-content>
          <ion-card-content>Full stomach..........................25</ion-card-content>
          <ion-card-content>G-string..............................20</ion-card-content>
          <ion-card-content>Bottom................................18</ion-card-content>
          <ion-card-content>Half leg..............................20</ion-card-content>
          <ion-card-content>Full leg..............................35</ion-card-content>
          <ion-card-content>Half leg and bikini line..............30</ion-card-content>
          <ion-card-content>Full leg and bikini line..............45</ion-card-content>
          <ion-card-content>Half arms.............................20</ion-card-content>
          <ion-card-content>Full arms.............................30</ion-card-content>
          <ion-card-content>Thighs................................25</ion-card-content>
          <ion-card-content>Thighs and bikini.....................30</ion-card-content>
          <ion-card-content>Brazilian.............................40</ion-card-content>
          <ion-card-content>Full face.............................35</ion-card-content>
          <ion-card-content>Side burns............................10</ion-card-content>
          <ion-card-content>Eyebrow, lip and chin.................25</ion-card-content>
          <ion-card-content>Male </ion-card-content>
          <ion-card-content>Stomach...............................20</ion-card-content>
          <ion-card-content>Chest.................................20</ion-card-content>
          <ion-card-content>Back..................................40</ion-card-content>
          <ion-card-content>Back and Shoulder.....................45</ion-card-content>
          <ion-card-content>Cheek.................................12</ion-card-content>
          <ion-card-content>Eyebrow...............................12</ion-card-content>
          <ion-card-content>Half arms.............................25</ion-card-content>
          <ion-card-content>Full arms.............................35</ion-card-content>
          <ion-card-content>Half leg..............................35</ion-card-content>
          <ion-card-content>Full leg..............................40</ion-card-content>
          <ion-card-content>Tinting</ion-card-content>
          <ion-card-content>Eyebrow tinting.......................10</ion-card-content>
          <ion-card-content>Eyelash tinting.......................12</ion-card-content>
          <ion-card-content>All price include of GST</ion-card-content>
          <ion-card-content>12-hour notice for cancellation please! </ion-card-content>
      </ion-card>    
  </ion-content>
  
  <!-- 
    <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        {{item.title}}
        <div class="item-note" slot="end">
          {{item.note}}
        </div>
      </ion-item>
    </ion-list>
    </ion-content>
  -->
    <!--
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
  
  